#######################################
# GLOBAL POSTGRES CONFIG
#######################################
POSTGRES_USER=choose-a-username
POSTGRES_PASSWORD=choose-a-secure-password
POSTGRES_DB=choose-a-database-name
DB_HOST=replace-with-db-host
DB_PORT=5432

#######################################
# API CONFIG
#######################################
API_NAME=Cyber Dashboard API
API_HOST=0.0.0.0
API_PORT=8000
API_LOG_LEVEL=INFO

#######################################
# SCHEDULER CONFIG
#######################################
LIMIT_REQUEST_PER_DAY=24
LOG_LEVEL=INFO
HTTP_TIMEOUT_SECONDS=20
POLL_SAFETY_WINDOW_SECONDS=300

#######################################
# OGO CONFIG
#######################################
OGO_BASE_URL=https://ogo.example.com
OGO_USERNAME=replace-me
OGO_API_KEY=replace-me
OGO_SITE_NAME_OR_ID=replace-me

#######################################
# SERENICITY CONFIG
#######################################
SERENICITY_BASE_URL=https://api.example.com/serenicity
SERENICITY_API_KEY=replace-me

#######################################
# CORRELATOR CONFIG
#######################################
CORRELATOR_BATCH_SIZE=500
CORRELATOR_POLL_INTERVAL_SECONDS=10
CORRELATOR_LOG_LEVEL=INFO
CORRELATOR_COMPUTE_AVERAGE_PROCESSING_TIME=false
