#######################################
# GLOBAL POSTGRES CONFIG
#######################################
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=cyber_dashboard
DB_HOST=db
DB_PORT=5432

#######################################
# API CONFIG
#######################################
API_NAME=Cyber Dashboard API
API_HOST=0.0.0.0
API_PORT=8000
API_LOG_LEVEL=INFO

########################################
# COMMON IP CONFIG
########################################
CORRELATOR_BATCH_SIZE=500
CORRELATOR_POLL_INTERVAL_SECONDS=10
CORRELATOR_LOG_LEVEL=INFO
CORRELATOR_COMPUTE_AVERAGE_PROCESSING_TIME=false

########################################
# SCHEDULER CONFIG
########################################
LOG_LEVEL=INFO
LIMIT_REQUEST_PER_DAY=24
OGO_BASE_URL=https://api.ogosecurity.com
SERENICITY_BASE_URL=https://api.control.serenicity.fr/api/v1

########################################
# SECRET CONFIG
########################################
CYBER_DASHBOARD_SECRET_KEY_FILE=/run/secrets/cyber_dashboard_secret_key
CYBER_DASHBOARD_SECRET_KEY=